.search-icon{
    width: 18px;
}

.leftsidebar{
    background: rgb(15, 24, 24);
    color: white;
    height: 85vh;
}
.ls-top{
    padding: 10px;
}
.ls-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ls-nav .logo{
    max-width: 130px;
   margin-right: 0px;
}
.chitchattxt{
    font-size: 25px;
}
.ls-nav .menu img{
    max-height:23px;
    opacity: 0.6;
    cursor: pointer;
}
.ls-search{
    display: flex;
    background-color: rgb(28, 37, 39);
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;
}
.ls-search input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 10px;
}
.ls-search input::placeholder{
    color: #c8c8c8;
}
.ls-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}
.freinds img{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.freinds{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}
.freinds div{
    display: flex;
    flex-direction: column;
}
.freinds span{
    color: #9f9f9f;
    font-size: 3px;
}
.freinds:hover{
    background-color: #192b2c;
}
.freinds:hover span{
    color: #e7e7e7;
}
.ls-nav .menu{
    position: relative;
    padding: 10px 0px;
}
.menu .sub-menu{
    position: absolute;
    top: 80%;
    right: 0;
     width: 120px;
     padding: 20px;
     border-radius: 5px;
     background-color: rgba(37, 67, 77, 0.801);
     color: white;
     font-weight: 400;
     display: none;
}
.sub-menu hr{
    border: none;
    height: 1px;
    background: rgb(177, 182, 181);
    margin: 8px 0px;
}
.sub-menu p{
    cursor: pointer;
    font-size: 14px;
}
.menu:hover .sub-menu{
    display: block;
}