.chat{
    min-height: 100vh;
    background: linear-gradient(150deg,rgba(0, 0, 0, 0.932),rgb(23, 85, 43) ,rgb(14, 71, 64));
    display: grid;
    place-items: center;
}
.chat-container{
    width: 95%;
    height: 85vh;
    max-width: 1000px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: white;
}